@model Offers.ViewModels.CreateOffer

@{
    ViewData["Title"] = "Create";
}

<h4>Εγγραφή νέας προσφοράς</h4>
<h5 class="text-danger"><i>@ViewBag.FileExists</i></h5>
<h5 class="text-danger"><i>@ViewBag.CopyError</i></h5>


<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Επιλέξτε το αρχείο της προσφοράς</label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Επιλέξτε έξτρα αρχείο της προσφοράς</label>
                <input asp-for="AdditionalFileName" class="form-control" />
                <span asp-validation-for="AdditionalFileName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OpenClose" /> Ανοικτή?
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">Σημειώσεις</label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Επιλέξτε ημερομηνία τελευταίας ενημέρωσης</label>
                <input asp-for="LastUpdate" class="form-control" />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Επιλέξτε εταιρία</label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Επιλέξτε δρομολόγιο</label>
                <select asp-for="DromologioId" class="form-control" asp-items="ViewBag.DromologioId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Επιλέξτε χρήστη</label>
                <select asp-for="ΟfferUserId" class="form-control" asp-items="ViewBag.ΟfferUserId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Επιλέξτε έτος</label>
                <select asp-for="YearId" class="form-control" asp-items="ViewBag.YearId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
