@model IEnumerable<Offers.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h4>ΛΙΣΤΑ ΕΤΑΙΡΙΩΝ</h4>
<hr />

<p>
    <a class="btn btn-info" asp-action="Create">Δημιουργία</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr style="background-color:lightyellow">
            <th>
                @Html.Label("ΕΤΑΙΡΙΑ")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                <partial name="_tableButtons" model="item" />
            </td>
        </tr>
}
    </tbody>
</table>
